/* Element
li{

}
/* class */
/* .hello{

} */
/* id */
/* #name{

} */ */
/* star: affects everything */
*{
    border: 2px solid purple;
}

/* Descendent selectors : example every a INSIDE li */
li a {
    color:red;
}

/* Adjacent selector: selects a sibling : example ul AFTER h4*/
h4 + ul {
    border: 4px dotted hotpink ;
}  

/* Attribute Selector */
a[href="https://www.google.com"] {
    background:goldenrod;
}

/* nth of type */
ul:nth-of-type(3){
    background: mediumseagreen;
}